doctype html
html(lang='en')
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-118791507-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-118791507-2');

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Landing Page - Start Bootstrap Theme
    // Bootstrap core CSS
    link(href='/static/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/all.js', integrity='sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+', crossorigin='anonymous')
    link(href='/static/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/static/vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='/dist/css/landing-page.css', rel='stylesheet')
    link(href='/dist/css/elements.css', rel='stylesheet')
    // Custom js for this template
    // <script src="js/my_js.js"></script>
    script(src='/dist/scripts/index.js')
  body
    // Navigation
    nav.navbar.navbar-light.bg-light.static-top
      .container
        a.navbar-brand(href='#') SalonLofts
        a.navbar-brand(href='/') Home
        a.navbar-brand(href='/dealNow') Deals
        a#bookBtn.btn.btn-primary Online Booking
    // Popup Contact Form
    #abc
      .container
        .row
          #popupContact.col-xs-3.mx-auto
            form#form(action='send', method='post', name='form')
              #closeX(onclick='div_hide()')
                i.far.fa-window-close
              h2 Contact Us
              label(for='name') Name:
              input#name(name='name', type='text')
              label(for='email') Email:
              input#email(name='email', type='text')
              label(for='note') Note:
              textarea#note(name='note', type='text')
              label(for='sendButton')
              button#sendButton(type='submit') Send
    //
      <h1>Click Button To Popup Form Using Javascript</h1>
      <button id="popup" onclick="div_show()">Popup</button>
    // Masthead
    //- header#header.mastheadSmall.text-white.text-center
    //-   .overlay
    //-   .container
    //-     .row
    //-       .col-xl-9.mx-auto
    //-         h1.mb-5 dealNow
    //-         button#contactBtn.btn.btn-primary.col-sm-5.mx-auto.hidden-sm Ask a Question/Contact
        // end row
      // end container
    
    // 2 Cards Across for Deal Picture and Description
    section#section2.showcase.bg-light
      .container.pt-5
        .row
          .col-md-6.mb-4
            .card.h-100
              .card-body
                img.mb-2#imgDeal(src='/dist/img/groupon-ad-4.jpg', alt='')
          .col-md-6.mb-4
            .card.h-100
              .card-body
                h3 Massage Therapy at Salon Lofts of Davidson
                h4 45% off Swedish or Custom Massage
                p.lead.mb-0
                  | Swedish or Custom Massage featuring Neuromuscular Massage and Sports Massage Therapy
                h4.pull-right
                  code#price1 $75
                  code 
                  code#price2 $41
                
    footer#section.footer.bg-light
      .container
        .row
          .col-lg-6.h-100.text-center.text-lg-left.my-auto
          .col-lg-6.h-100.text-center.text-lg-right.my-auto
            ul.list-inline.mb-0
              li.list-inline-item.mr-3
                a(href='https://www.facebook.com/salonloftsdavidson/')
                  i#iconFB.fab.fa-facebook-f
              //
                <li class="list-inline-item mr-3">
                <a href="#">
                <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a href="#">
                <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
                </li>
    // Bootstrap core JavaScript
    // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    script(src='/static/vendor/jquery/jquery.min.js')
    script(src='/dist/scripts/index.js')
    script(src='/static/vendor/bootstrap/js/bootstrap.bundle.min.js')